<!-- <app-header></app-header> -->
  
  <!-- <app-register></app-register> -->
  <app-header></app-header>
  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
  
 <!-- <app-login></app-login> -->
