<body style="background-image: url('assets/Images/background12.jpg');">
  <section class="nonVegItems-list">
    <div class="product" *ngFor="let nonveg of nonVegItems">
      <img src="{{ nonveg.image }}" alt="{{ nonveg.name }}">
      <div class="product-details">
        <h2>{{ nonveg.name }}</h2>
        <p class="description">{{ nonveg.description }}</p>
        <p class="price">{{ nonveg.price | currency:'INR':true }}</p>
        <div class="buttons-container">
          <button class="add-to-cart" (click)="addToCart(nonveg)">Add to Cart</button>
        </div>
      </div>
    </div>
    <div *ngIf="showSuccessMessage" class="success-message">
      Added to cart successfully!
    </div>
  </section>
</body>
