<div class="about-section">
  <div class="inner-container">
    <div align="center">
      <h1>About Us</h1>
      <p>Welcome to our Food Recipe App! Explore a variety of delicious recipes and enjoy cooking at home.</p>
      <p>Our mission is to make cooking fun and accessible to everyone. Whether you are a seasoned chef or a beginner,
        you'll find something exciting to try in our collection of recipes.</p>
      <p>Feel free to browse through our recipes, add your favorites to the cart, and embark on a culinary adventure
        with us!</p>
      <!-- Add more information about your app or team if needed -->
    </div>
  </div>
</div>