*{
    margin: 0;
    padding: 0;
    font-family: "Roboto",sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 500vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.about-section{
    background: url(/assets/Images/backgound3.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
    padding-bottom: 60px; /* Adjusted padding for footer */
}

.inner-container{
    width: 55%;
    float: right;
    background-color: hsl(0, 6%, 79%);
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 800;
}

.text{
    font-size: 25px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 15px;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}

/* Add this CSS to position the footer at the bottom */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Adjust the padding of the about-section to create space for the footer */
.about-section {
    padding-bottom: 60px; /* Adjust as needed */
}