<h1 align="center">Customers Data</h1>
<br/>
<div align="center" class="container">
  <table class="table table-hover table-striped table-sm table-bordered">
    <thead>
      <tr align="center">
        <th class="bg-info text-white">Customer_Id</th>
        <th class="bg-info text-white">customerName</th>
        <th class="bg-info text-white">Gender</th>
        <th class="bg-info text-white">phone</th>
        <th class="bg-info text-white">email</th>
        <th class="bg-info text-white">password</th>
        <!-- <th class="bg-info text-white">confirmPassword</th> -->
        <!-- <th class="bg-info text-white">otp</th> -->
        <th class="bg-info text-white">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers" align="center">
        <td>{{ customer.customerId }}</td>
        <td>{{ customer.customerName }}</td>
        <td>{{ customer.gender }}</td>
        <td>{{ customer.phoneNumber }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.password }}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCustomer(customer.customerId)">Delete</button>
          <!-- <button class="btn btn-primary" (click)="openUpdateModal(customer)">Update</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
