<div class="container">
    <div class="form-container">
      <h2>Profile</h2>
      <form #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm.value)" class="form" novalidate>
        <!-- Username Field -->
        <div class="input-box">
            <label>Customer Name</label>
            <input type="text" class="form-control" placeholder="Enter customername" name="customerName" [(ngModel)]="customerData.customerName" required />
        </div>
    
        <!-- <div class="input-box">
            <label>Last Name</label>
            <input type="text" class="form-control" placeholder="Enter lastname" name="lastName" [(ngModel)]="customerData.lastName" required />
        </div> -->
        <!-- Gender Field -->
        <div class="input-box">
            <label>Gender</label>
            <select name="gender" class="form-control" [(ngModel)]="customerData.gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
    
    
        <!-- Email Field -->
        <div class="input-box">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="customerData.emailId" required />
        </div>
    
        <!-- Mobile Number Field -->
        <div class="input-box">
            <label>Mobile Number</label>
            <input type="tel" class="form-control" placeholder="Enter Mobile Number" name="mobileNumber" [(ngModel)]="customerData.phoneNumber" required />
        </div>
    
        <!-- Password Field -->
        <div class="input-box">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="customerData.password" required />
        </div>
    
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Update Profile</button>
      </form>
    </div>
  </div>
  