
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown link
    </a>
  
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Veg Items</a></li>
      <li><a class="dropdown-item" href="#">Non Veg Items</a></li>
      <li><a class="dropdown-item" href="#">Snacks</a></li>
      <li><a class="dropdown-item" href="#">Ingredients</a></li>
      
    </ul>
  </div>