<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Page Title</title>
  <link rel="stylesheet" type="text/css" href="./addrecipes.component.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<header>

  <nav>
    <div class="logo"><a href=" "><img align="left" src="/assets/Images/Logo.png"
          style="height: 100px; width: 100px;" /></a>&nbsp;&nbsp;&nbsp;<h3>Explore-ERA</h3>
    </div>
    <div class="menu">
      <a routerLink="/recipes">Recipes</a>
      <li><a routerLink="/vegitem">Veg Items</a></li>
      <li><a routerLink="/non-vegitem">Non-Veg Items</a></li>
      <li><a routerLink="/ingredients">Ingredients</a></li>
    </div>
  </nav>

  <div class="container">
    <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="recipes.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="recipes.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="duration">Duration:</label>
        <input type="text" class="form-control" id="duration" [(ngModel)]="recipes.duration" name="duration" required>
      </div>
      <div class="form-group">
        <label for="includes">Includes:</label>
        <textarea class="form-control" id="includes" [(ngModel)]="recipes.includes" name="includes" required></textarea>
      </div>
      <div class="form-group">
        <label for="file">Image:</label>
        <input type="file" class="form-control" id="file" (change)="onFileChange($event)" name="file" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</header>