/* Container styles */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* Glassy box shadow */
    backdrop-filter: blur(10px); /* Blur effect for glassy look */
    border: 1px solid rgba(255, 255, 255, 0.18); /* Border with transparency */
    padding-top: 25px;
  }
  
  /* Form styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  textarea,
  input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("/assets/Images/Tajmahal.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
  }
  
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 35%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  