<section class="veg-list">
  <div class="product" *ngFor="let veg of veg">
    <img src="{{ veg.image }}" alt="{{ veg.name }}">
    <div class="product-details">
      <h2>{{ veg.name }}</h2>
      <p class="description">{{ veg.description }}</p>
      <p class="price">{{ veg.price | currency:'INR':true }}</p>
      <div class="buttons-container">
        <button class="add-to-cart" (click)="addToCart(veg)">Add to Cart</button>
      </div>
    </div>
  </div>
  <div *ngIf="showSuccessMessage" class="success-message">
    Added to cart successfully!
  </div>
</section>