/* Reset styles for basic elements */
body, h1, h2, p, img, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a basic layout */
body {
  font-family: 'Arial', sans-serif;
}

/* Style for the Veg List container */
.veg-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Style for each product */
.product {
  width: 300px;
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  transform-style: preserve-3d;
}

/* Hover effect on product */
.product:hover {
  transform: scale(1.05) rotateX(10deg);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Style for product image */
.product img {
  width: 100%;
  height: 150px; /* Set a fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-bottom: 1px solid #ddd;
}

/* Style for product details */
.product-details {
  padding: 15px;
}

/* Style for product title */
.product h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

/* Style for product description */
.product p {
  margin-bottom: 10px;
}

/* Style for product price */
.price {
  font-weight: bold;
  color: #2ecc71;
}

/* Style for buttons */
.add-to-cart,
.buy-item {
  display: inline-block;
  width: calc(50% - 5px);
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-cart {
  background-color: #077623;
}

.buy-item {
  background-color: #e74c3c;
}

/* Hover effect on buttons */
.add-to-cart:hover,
.buy-item:hover {
  background-color: #2980b9;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .veg-list {
      padding: 10px;
  }

  .product {
      width: calc(50% - 20px);
  }

  .add-to-cart,
  .buy-item {
      width: 100%;
  }
}

@media (max-width: 480px) {
  .product {
      width: 100%;
  }
}

/* Style for success message */
.success-message {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  display: inline-block;
}
