<footer class="bg-light text-center text-black">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <h2>Follow us on</h2>
      <div class="social-media-icons">
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #3b5998;" href="https://www.facebook.com/campaign/landing.php?campaign_id=14884913640&extra_1=s%7Cc%7C589460569897%7Cb%7Cfacebook%20log%20in%7C&placement=&creative=589460569897&keyword=facebook%20log%20in&partner_id=googlesem&extra_2=campaignid%3D14884913640%26adgroupid%3D128696221912%26matchtype%3Db%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-1409266755%26loc_physical_ms%3D9062136%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAibeuBhAAEiwAiXBoJPRQqM3AgTtZUSGdsHRSWC0XOW592rJXS_BXPZ7eE8DohvABtx8vgRoCO2UQAvD_BwE" role="button"><i class="fab fa-facebook-f"></i></a>
        
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #55acee;" href="https://twitter.com/i/flow/login" role="button"><i class="fab fa-twitter"></i></a>
        
        <a mdbRipple class="btn btn-primary btn-floating m-1 instagram" href="https://www.instagram.com/" role="button"><i class="fab fa-instagram"></i></a>
        
        <a mdbRipple class="btn btn-primary btn-floating m-1" style="background-color: #0082ca;" href="https://www.linkedin.com/feed/" role="button"><i class="fab fa-linkedin-in"></i></a>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(17, 16, 16, 0.2);">
    <p class="text-white">© 2020 Copyright:</p>
    <a class="text-white">RecipeRadar Food Recipe App</a>
  </div>
</footer>
