.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.container {
  text-align: center;
}

.social-media-icons {
  display: flex;
  justify-content: center; /* Center the icons horizontally */
}

.social-media-icons .btn {
  margin: 0 5px; /* Adjust spacing between icons */
}

/* Adjusted style for the Instagram icon */
.instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

/* Adjusted style for the logo */
#logo {
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 20px;
}
