/* Add your custom styles here */

.text-center {
    text-align: center;
  }
  
  .mt-5 {
    margin-top: 5rem;
  }
  
  .mt-3 {
    margin-top: 3rem;
  }
  
  .container {
    max-width: 80%;
    margin: 0 auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .total-price {
    margin-top: 2rem;
  }
  
  .order-button {
    margin-top: 1rem;
  }
  
  .payment-details-form {
    max-width: 50%;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #0056b3;
  }
  