<!-- cart.component.html -->

<div>
  <h1 class="text-center mt-5">Order Summary</h1>

  <div class="order-details-container mt-3">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Recipe Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartItems">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price | currency:'INR':true }}</td>
            <td>{{ item.quantity * item.price | currency:'INR':true }}</td>
            <td>
              <button class="btn btn-danger btn-sm" (click)="removeItem(item)">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Display total price outside the table -->
      <div class="total-price text-center">
        <h3>Total Price: ₹{{ totalAmount }}/-</h3>
      </div>

      <!-- Buttons for Empty Cart and Order Now -->
      <div class="cart-buttons">
        <button class="btn btn-danger" (click)="emptyCart()">Empty Cart</button>
        <a href="https://rzp.io/l/KTjZrcpdQ4" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-success" [routerLink]="['/ordernow']">Purchase</button>
      </a>
      </div>
    </div>
  </div>
</div>
