.product-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 150px auto;
  flex-wrap: wrap;
}

section {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product {
  width: 150px;
  height: 200px;
  /* Adjust height as needed */
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(30% - 40px);
}

.product img {
  width: 100%;
  height: 80%;
  /* Adjust height as needed */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}



.instagram {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}


.social-media-icons {
  display: flex;
  /* Display the icons horizontally */
}

.social-media-icons .btn {
  margin-right: 5px;
  /* Adjust spacing between icons */
}