<div class="bg">

  <section class="product-container">
    <!-- Veg Items -->
    <div class="product">
      <!-- Use (click) to trigger the navigation function -->
      <a class="veg-items-link" (click)="navigateToComponent('vegitem')">
        <img src="assets/Images/VegItems.jpg" alt="Veg Items 1" class="round-image">
      </a>
      <h2>Veg Items</h2>
    </div>
    <div class="product">
      
      <a class="non-veg-items-link" (click)="navigateToComponent('nonvegitem')">
        <img src="assets/Images/NonVegItems.jpg" alt="Non-Veg Items 1" class="round-image">
      </a>
      <h2>Non-Veg Items</h2>
    </div>
  </section>
</div>