  /* Video container styles
  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 20%;
    overflow: hidden;
    z-index: -1; 
  }
  
  .video-container video {
    min-width: 100%;
    min-height: 60%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .content {
    padding-top: 100px; 
    text-align: center;
    color: white;
  }
   */
   #logout{
    margin-left: 600px;
    margin-bottom: 2px;
   }
   