<div align="center">
    <h1>Logout</h1>
    <p>You have successfully logged out. Thank you for using our Food Recipe App!</p>
    <button (click)="logout()" class="btn btn-primary">Login Again</button>
  </div>
  