<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>

<div class="login">
  <div class="container">
    <h1>Login Form</h1>
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value, loginForm)" class="form" novalidate>
      <table>
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <input type="text" class="form-control" placeholder="Enter email" name="email" ngModel #email="ngModel"
                required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
            </div>
            <h6 *ngIf="email.invalid && (email.dirty || email.touched || loginForm.submitted)" class="error"
              style="color: red;">
              <h6 *ngIf="email.hasError('required')">Email is required.</h6>
              <h6 *ngIf="email.hasError('pattern')">Enter a valid email.</h6>
            </h6>
            <br />
          </td>
        </tr>
        <tr>
          <td>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" placeholder="Enter password"
                name="password" ngModel #password="ngModel" required />
              <span (click)="togglePasswordVisibility()">
              </span>
            </div>
            <h6 *ngIf="password.invalid && (password.dirty || password.touched || loginForm.submitted)" class="error"
              style="color: red;">
              <h6 *ngIf="password.hasError('required')">Password is required.</h6>
            </h6>
            <br />
          </td>
        </tr>
        <tr>
          <td>
            <div class="g-recaptcha" [attr.data-sitekey]="siteKey" (data-callback)="onCaptchaResolved"></div>

          </td>
        </tr>
        <tr>
          <td>
            <button type="button" (click)="loginSubmit(loginForm.value, loginForm)">
              <h5>Login</h5>
            </button>
            New User ?<a routerLink="/register">Register</a>
          </td>
        </tr>
        <tr>
          <td>  
            <div id="google-btn"></div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>