.login {
  font-family: 'Arial', sans-serif;
  background-color: hsl(343, 46%, 38%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url('/assets/Images/Loginbackavif.avif');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  margin-top: 5px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px hsl(0, 0%, 100%);
  padding: 10px;
  height:400px;
  border-radius: 12px;
  /* width: 300px; */
  text-align: center;
  background-image: url('/assets/Images/Login Cover4.jpg');
  background-size: contain;
  max-width: 400px; /* Adjust the width as needed */
  margin: 0 auto; 
  
}

h1 {
  color: #141212;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-addon {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #337ab7;
  border-radius: 4px 0 0 4px;
}

.input-group-addon i {
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
}

.container button.btn-primary {
  background-color: #b73333;
  color: #38ab71;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.container button.btn-primary:hover {
  background-color: #90282f;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.error-message {
color: red;
}