<div class="container">
  <h2>Search Customer by ID</h2>
  <div class="form-group">
    <label for="customerId">Enter Customer ID:</label>
    <input type="text" class="form-control" id="customerId" [(ngModel)]="customerId" name="customerId">
  </div>
  <button class="btn btn-primary" (click)="getById()">Search</button> <!-- Corrected parentheses -->
</div>

<style>
  .container {
    margin: 50px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 20px;
    margin-top: 20px;
  }

  label {
    font-weight: bold;
    margin-right: 10px;
  }

  input {
    width: 200px;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    /* Adjust font size */
  }

  button {
    padding: 8px 16px;
    font-size: 16px;
    /* Adjust font size */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  * {
    box-sizing: border-box;
  }
</style>


<div *ngIf="customer" align="center">
  <h3>Customer Details</h3>
  <table>
    <tr>
      <td><strong>Customer ID:</strong></td>
      <td> {{ customer.customerId }}</td>
    </tr>
    <tr>
      <td><strong>Customer Name:</strong></td>
      <td> {{ customer.customerName }}</td>
    </tr>
    <tr>
      <td><strong>Gender:</strong></td>
      <td>{{ customer.gender }}</td>
    </tr>
    <tr>
      <td><strong>Phone Number:</strong></td>
      <td> {{customer.phoneNumber}}</td>
    </tr>
    <tr>
      <td><strong>Email:</strong></td>
      <td> {{ customer.email }}</td>
    </tr>
    <tr>
      <td><strong>password:</strong></td>
      <td> {{ customer.password }}</td>
    </tr>
    <!-- <tr><td><strong>confirmPassword:</strong></td><td>  {{ customer.confirmPassword }}</td></tr> -->
  </table>
</div>