/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('/assets/Images/Admin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  max-width: 300px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}

.container .form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.form .input-box,
.select-box {
  width: 50%; 
  margin-top: 20px;
}

.input-box label,
.select-box label {
  color: #333;
}

.form :where(.input-box input, .select-box select, .otp-input) {
  position: relative;
  height: 40px; /* Adjusted height to match register input fields */
  width: 100%; /* Adjusted width to match register input fields */
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  margin-bottom: 20px; 
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 8px; 
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.input-box input:focus,
.select-box select:focus,
.otp-input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 10px; 
}

.form .gender-box {
  margin-top: 20px;
}

.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .gender {
  column-gap: 5px;
}

.gender input {
  accent-color: rgb(130, 106, 251);
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.gender label {
  color: #707070;
}

.input-box .address {
  margin-top: 5px;
}

.form button {
  height: 40px; 
  width: 50%;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(251, 106, 106);
}

.form button:hover {
  background: rgb(88, 56, 250);
}


@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form :where(.gender-option, .gender) {
    row-gap: 8px;
  }

}

.anchor {
  cursor: pointer;
}