<app-header></app-header>
<div class="body1">
    <div class="body">
        <h1>Register</h1>
        <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value, registrationForm)"
            class="form" novalidate>


            <div class="input-box"><label>UserName</label>
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <!-- Update the ngModel names to match the component property names -->
                <input type="text" class="form-control" placeholder="Enter UserName" name="customerName" ngModel
                    required (focus)="focusPasswordField(passwordInput)" />

                <!-- </div> -->

                <h6 *ngIf="registrationForm.controls['customerName']?.invalid && registrationForm.controls['customerName']?.touched"
                    class="error" style="color: red;">Username is required.</h6>

            </div>

            <!-- <div class="input-container"> -->
            <div class="input-box">
                <label>Gender</label>
                <br>
                <select name="gender" class="form-control" ngModel required>
                    <option value="" disabled selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
                <!-- </div> -->
                <div class="error-message">
                    <p *ngIf="registrationForm.controls['gender']?.invalid && registrationForm.controls['gender']?.touched"
                        class="error" style="color: red;">Gender is required.</p>
                </div>
            </div>

            <!-- EmailId Field -->
            <!-- <div class="input-container"> -->
            <div class="input-box">
                <label>EmailId</label>
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Enter email" name="email" ngModel #email="ngModel"
                    required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
            </div>
            <div class="error-message">
                <h6 *ngIf="email.invalid && (email.dirty || email.touched)" class="error" style="color: red;">
                    <p *ngIf="email.hasError('required')">Email is required.</p>
                    <p *ngIf="email.hasError('pattern')">Enter a valid email.</p>
                </h6>
            </div>
            <!-- </div> -->

            <!-- Mobile Number Field -->
            <div class="input-container">
                <div class="input-box">
                    <label>PhoneNumber</label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                    <input type="text" class="form-control" placeholder="Enter PhoneNo" name="phoneNumber" ngModel
                        #phoneNumber="ngModel" required pattern="^\+91\s*\d+$" maxlength="16" />
                </div>
                <div class="error-message">
                    <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="error"
                        style="color: red;">
                        <p *ngIf="phoneNumber.hasError('required')">Phone Number is required.</p>
                        <p *ngIf="phoneNumber.hasError('pattern')">Enter a valid number starting with +91 </p>
                        <p *ngIf="phoneNumber.hasError('maxlength')">Mobile Number should not exceed 15 characters.</p>
                    </div>
                </div>
            </div>

            <!-- Password Field -->
            <div class="input-container">
                <div class="input-box">
                    <label>Password</label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control"
                        placeholder="Enter password" name="password" ngModel #passwordInput="ngModel"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d@$!%?&]{8,20}$" maxlength="20" />
                    <span class="input-group-addon" (click)="togglePasswordVisibility()">
                        <i
                            class="{{ showPassword ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-eye-close' }}"></i>
                    </span>
                </div>
                <div class="error-message">
                    <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error"
                        style="color: red;">
                        <p *ngIf="passwordInput.hasError('required')">Password is required.</p>
                        <p *ngIf="passwordInput.hasError('pattern')">Password must be alphanumeric </p>
                    </div>
                </div>
            </div>

            <!-- Confirm Password Field -->
            <div class="input-container">
                <div class="input-box">
                    <label>ConfirmPassword</label>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" placeholder="Enter confirm password"
                        name="confirmPassword" ngModel #confirmPasswordInput="ngModel" required />
                </div>
                <div class="error-message">
                    <p *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched && confirmPasswordInput.hasError('passwordMismatch')"
                        class="error" style="color: red;">Passwords do not match.</p>
                    <p *ngIf="confirmPasswordInput.touched && confirmPasswordInput.hasError('required')" class="error"
                        style="color: red;">Confirm Password is Required.</p>
                </div>
            </div>

            <!-- Submit Button -->
            <button type="button" (click)="registerSubmit(registrationForm.value, registrationForm)">
                <h5>Register</h5>
            </button>

            <p>Already a user? <a routerLink="/login">Login</a></p>
        </form>
    </div>
</div>