.body1 {
    height: 130vh;
    width: 100%;
    background-image: url('/assets/Images/Registerback.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
}

.body {
    position: relative;
    max-width: 450px;
    height: auto;
    width: 110%;
    background: transparent;
    backdrop-filter: blur(25px);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.body h1 {
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
    text-align: center;
}

.body .form {
    margin-top: 15px;
}

.form .input-box {
    width: 100%;
    margin-top: 10px;
}

.input-box label {
    color: #000;
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 35px;
    width: 93%;
    outline: none;
    font-size: 1rem;
    color: #501212;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 15px;
    background: #fcedda;
}

.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column1,
.form .column {
    display: flex;
    width: 100%;
    column-gap: 25px;
}

.address :where(input, .select-box) {
    margin-top: 10px;
}

.select-box select {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #accd36;
    font-size: 1rem;
    background: #fcedda;
}

.form button {
    height: 40px;
    width: 100%;
    color: #000;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #78ee34;
}

.form button:hover {
    background: #ee3e34;
}

.wrapper .input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid silver;
}

.input-data input:focus ~ label,
.input-data input:valid ~ label {
    transform: translateY(-20px);
    font-size: 15px;
    color: #4158d0;
}

.wrapper .input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: rgb(37, 124, 110);
    pointer-events: none;
    transition: all 0.3s ease;
}

.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-size: 14px;
    position: relative;
    top: 1px;
}

.input-group-addon {
    display: flex;
}

.input-group-addon i {
    margin-right: 5px;
}
